.schedule .dialog {
  font-size: 14px;

  position: absolute;
  top: 50%;
  right: 30px;
  left: 30px;

  overflow-x: hidden;
  overflow-y: auto;

  max-height: 325px;

  transform: translateY(-50%);

  color: var(--sed);
  border-radius: 10px;
  background: var(--lighter);
}

.schedule .dialog h1 {
  font-size: 100%;

  padding: 15px 0 15px;

  text-align: center;

  color: var(--primary);
}

.schedule .dialog .head {
  line-height: 30px;

  display: flex;

  padding-left: 30px;

  color: var(--primary);
  border-bottom: 1px solid #1ba9ba;
  ;
}

.schedule .dialog .station {
  flex: 4;

  text-align: left;
}

.schedule .dialog .deptime,
.schedule .dialog .arrtime,
.schedule .dialog .stoptime {
  flex: 3;

  text-align: center;
}

.schedule .dialog ul {
  margin: 0;
  padding: 0;

  list-style: none;
}

.schedule .dialog li {
  line-height: 35px;

  margin: 0;
  padding: 0;

  list-style: none;

  background-color: var(--light);
}

.schedule .dialog li .icon {
  font-size: 12px;
  line-height: 18px;

  position: relative;
  top: 7px;

  float: left;

  width: 18px;
  margin-left: 5px;

  text-align: center;

  color: #c7ced4;
  border: 1px solid #c7ced4;
  border-radius: 9px;
}

.schedule .dialog li .icon-red {
  font-size: 12px;
  line-height: 18px;

  position: relative;
  top: 7px;

  float: left;

  width: 18px;
  margin-left: 5px;

  text-align: center;

  color: #fff;
  border: 1px solid var(--thd);
  border-radius: 9px;
  background: var(--primary);
}

.schedule .dialog li .row {
  display: flex;

  margin-left: 30px;

  border-bottom: .5px solid var(--fourth);
}

.schedule .dialog .grey {
  color: var(--fourth) !important;
}

.schedule .dialog .red {
  font-weight: bold;

  color: var(--primary) !important;
}
