td {
  width: 40px;
  height: 40px;
  margin: 0 2px 2px 0;

  text-align: center;

  color: #000;
  border: 2.5px solid #e3e3e3;
  background: #fff;
}

td.null {
  background: #e3e3e3;
}

td.disabled {
  cursor: not;

  color: #a7a7a7;
  background: #f3f3f3;
  ;
}

.fas.fa-sun {
  font-size: 25px;

  margin-top: 4px;

  color: var(--primary);
}
