.journey {
  display: flex;
}

.journey-station {
  font-size: 20px;
  line-height: 45px;

  flex: 1;

  height: 45px;

  border-bottom: 1px solid #eaeaea;
}

.journey-switch {
  line-height: 40px;

  width: 70px;
  height: 40px;

  transition-duration: .3s;
  transition-property: transform;
}

.journey-switch-reverse {
  transform: rotateZ(180deg);
}

.journey-input {
  font-size: 100%;
  line-height: 1.5;

  width: 100%;
  margin-top: 8px;
  margin-left: 0;
  padding: 0;

  color: var(--primary);
  border: 0;
  outline: 0;
  background: var(--light);
}

.journey-to {
  text-align: right;
}

