.ticket {
  position: relative;

  display: inline-block;

  width: 100%;
  margin: 10px 0;

  background: var(--light);
}

.ticket .label {
  font-size: 14px;
  line-height: 44px;

  position: absolute;
  left: 0;

  display: inline-block;

  width: 96px;
  min-width: 96px;
  height: 44px;
  padding-left: 15px;
}

.ticket .ticket-type {
  line-height: 44px;

  height: 44px;
  padding: 0 10px;

  text-align: center;
}

.ticket .ticket-price {
  font-size: 18px;

  position: absolute;
  right: 0;

  margin-top: -35px;
  padding-right: 15px;

  color: var(--sed);
}

/* .ticket .ticket-price::before {
  font-size: 14px;

  content: '\0024';
} */


