li {
  margin: 0;
  padding: 0;

  list-style: none;

  color: var(--primary);
  background-color: var(--light);
  ;
}

li .bar {
  line-height: 42px;

  position: relative;

  display: flex;
  align-items: center;
  justify-content: space-between;

/* overflow: hidden; */

  padding: 0 15px;

  border-top: 1px solid var(--primary);
}

li .seat {
  font-size: 17px;

  width: 70px;
}

li .price {
  font-size: 18px;

  color: var(--sed);
}

li .price i {
  font-size: 12px;
  font-style: normal;

  padding: 0 1px;
}

li .btn {
  font-size: 14px;
  line-height: 25px;

  position: relative;
  top: 7px;

/* float: right; */

  width: 50px;
  height: 25px;
  margin-top: -14px;

  cursor: pointer;
  text-align: center;

  color: var(--sed);
  border: 1px solid var(--sed);
  border-radius: 3px;
}

li .num {
  font-size: 12px;
  font-weight: bold;

  position: absolute;
  top: -1px;
  right: 27px;

  transform: rotate(
  -18deg
  );

  color: var(--sed);
}

li .channels {
  overflow: hidden;

  height: 0;

  transition: .5s;

  background-color: var(--lighter);
}
