.bottom-dialog-content .option h3 {
  font-size: 13px;
  font-weight: normal;
  line-height: 27px;

  height: 28px;
  margin: 0;
  padding: 0 0 0 6%;

  color: var(--primary);
  border-top: 1px solid var(--primary);
  border-bottom: 1px solid var(--primary);
  background-color: var(--lighter);
}

.bottom-dialog-content .option ul {
  overflow: hidden;

  padding: 4% 4% 0;

  list-style: none;
}

.bottom-dialog-content .option li {
  line-height: 27px;

  float: left;

  width: 28.5%;
  height: 27px;
  margin: 0 2% 4%;

  list-style: none;

  text-align: center;

  border: 1px solid var(--sed);
  border-radius: 4px;
  background-color: var(--light);
}

.bottom-dialog-content .option li.checked {
  color: #fff;
  border-color: var(--primary);
  background: var(--thd);
}
