.city-ul {
  margin: 0;
  padding: 0;

  list-style: none;
}

.city-li {
  line-height: 44px;

  display: block;

  height: 44px;
  margin-left: 15px;
  padding-left: 25px;

  color: var(--primary);
  border-bottom: 1px solid var(--fourth);
  background-color: var(--light);
}

.city-li:first-child {
  font-size: 17px;
  line-height: 30px;

  position: sticky;
  top: -1px;

  height: 30px;
  margin-left: 0;
  padding: 0 15px;

  border-bottom: 0;
  background-color: var(--lighter);
}

.city-li:last-child {
  border-bottom: 0;
}
