.header-wrapper {
  position: fixed;
  z-index: 2;
  top: 0;
  right: 0;
  left: 0;
}

.content-wrapper {
  display: flex;
  flex-direction: column;

  height: 100vh;
  margin: auto;
} 

@media screen and (min-width: 530px) {
  .content-wrapper {
    width: 525px;
  }
}
