.date-table {
  width: 100%;
  margin-bottom: 15px;

  border-spacing: 0;
  border-collapse: collapse;

  text-align: center;
}

.date-table tr,
.date-table td,
.date-table th {
  margin: 0;
  padding: 0;
}

.date-table thead td {
  height: 39px;

  background-color: var(--fourth);
}

.date-table thead h5 {
  font-size: 18px;
  font-weight: bold;
  line-height: 39px;

  margin: 0;
  padding: 0;

  text-align: center;

  color: var(--primary);
  border: 1px solid #cdcdcd;
}

.date-table-weeks {
  font-size: 14px;

  height: 23px;

  text-align: center;

  color: #8c8c8c;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #cacaca;
  border-left: 1px solid #ccc;
  background-color: #f3f3f3;
}


.date-table .weekend {
  font-weight: bold;

  color: var(--sed) !important;
}

