.depart-date {
  font-size: 20px;
  line-height: 45px;

  height: 45px;

  text-align: left;

  color: var(--primary);
  border-bottom: 1px solid var(--thd);
}

.depart-week {
  font-size: 15px;

  color: var(--thd);
}
