.city-suggest {
  font-size: 14px;

  position: absolute;
  z-index: 100;
  top: 44px;
  bottom: 0;

  width: 100%;

  background-color: var(--light);
}

.city-suggest-ul {
  margin: 0;
  padding: 0;

  list-style: none;
}
