.passengers {
  margin: 10px 0;

  color: var(--primary);
  background: var(--light);
}

.passengers ul {
  margin: 0;
  padding: 0;

  list-style: none;
}

.passenger {
  position: relative;

  margin: 0;
  padding: 0 15px 0 54px;

  list-style: none;
}

.passenger .delete {
  font-size: 12px;
  font-style: normal;
  line-height: 18px;

  position: absolute;
  top: 50%;
  left: 15px;

  width: 18px;
  height: 18px;
  margin-top: -9px;

  text-align: center;
  vertical-align: middle;

  color: red;
  border: 1px solid red;
  border-radius: 10px;
}

.passenger .items {
  list-style: none;
}

.passenger .items .item {
  font-size: 0;
  line-height: 44px;

  position: relative;

  display: flex;

  height: 44px;

  border-bottom: 1px solid #dcdfe0;
}

.passenger .items .item:last-of-type {
  border-bottom: 0;
}

.passenger .items .item label.label {
  font-size: 13px;

  display: inline-block;

  width: 60px;
}

.passenger .items .item label.ticket-type {
  font-size: 13px;

  position: absolute;
  top: 0;
  right: 0;

  width: 70px;
  padding-top: 2px;
}

.passenger .items .item label.ticket-type::after {
  position: absolute;
  top: 50%;
  right: 15px;

  width: 11px;
  height: 6px;
  margin-top: -3px;

  content: '';

  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABYAAAAMCAYAAABm+U3GAAAAbUlEQVR42p3OwQnAQAhEUUvZErZMu9jSUkJKMA4kCBEZmMNHmMNDiwhz951d7zWtMmBiWNmdBa6I75+xvo8PRopzFB2YgEdcRQsW8Amd4AHnKHYCDzhBGUzwCeUwwTsqwB1vqA4XTlAFLrxQDj+3MTlro/oAUgAAAABJRU5ErkJggg==)
  no-repeat;
  background-size: 100%;
}

.passenger .items .item .input {
  font-size: 15px;
  line-height: 24px;

  flex: 1 1;

  height: 24px;
  margin: 10px auto;

  text-indent: 10px;

  color: var(--primary);
  border: 0;
  border: 1px solid var(--fourth);
  outline: 0;
  background: var(--lighter);
}

.passenger .items .item .input.name {
  padding-right: 53px;
}

.passenger .items .item.arrow::after {
  position: absolute;
  top: 50%;
  right: 15px;

  width: 7px;
  height: 14px;
  margin-top: -7px;

  content: '';

  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAWCAYAAAD0OH0aAAAAr0lEQVR42pXTMQrCQBCF4dUiIIJ4hFzDShQsPIZikyIRPMUKeg2vZSO2UYn15j1IYBnIZqb4psn7IQTivPcLWMEshODGMLhAgLs2+HXBn5Em2ECtjRhMYA0fTcTTR1vxerehwBTxmCIeU8STir7xh4AlB0PRFPYMOg08UsEciih4wzU1PkfjFxz4zDQm05hMY4rHlRgf5Zj6cakZk9OMZdDI8ViwgyectL9oBrlmTC1ZJbyS+BCt4QAAAABJRU5ErkJggg==)
  no-repeat;
  background-size: 100%;
}

.passengers .add {
  position: relative;

  display: flex;

  border-top: 1px solid #dcdfe0;
}

.passengers .add .adult {
  font-size: 16px;
  line-height: 28px;

  flex: 1;

  height: 28px;
  margin: 10px 0;

  text-align: center;
}

.passengers .add .child {
  font-size: 16px;
  line-height: 28px;

  flex: 1;

  height: 28px;
  margin: 10px 0;

  text-align: center;

  border-left: 1px solid #dcdfe0;
}
