.bottom-modal {
  position: fixed;
  z-index: 999;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  border: 1px solid var(--primary);
  background: rgba(0, 0, 0, .5);

  /* scroll-behavior: auto; */
}

.bottom-dialog {
  position: absolute;
  top: 10%;
  right: 0;
  bottom: 56px;
  left: 0;

  overflow-y: auto;

  background: var(--fourth);
}

/* .bottom-dialog-content {
  z-index: 1000;
  color: var(--primary);
} */

.bottom-dialog-content .title {
  font-size: 14px;
  line-height: 41px;

  position: fixed;
  z-index: 1111;

  width: 100%;
  height: 41px;

  border-top: 1px solid var(--primary);
  border-bottom: 1px solid var(--primary);
  background-color: var(--sed);
}

.bottom-dialog-content .title span {
  font-size: 16px;
  font-weight: bold;
  line-height: 30px;

  position: absolute;
  top: 6px;
  left: 6%;

  height: 30px;

  cursor: pointer;

  color: var(--light);
}

.bottom-dialog-content .title span.disabled {
  color: var(--primary);
}

.bottom-dialog-content .title span:last-of-type {
  right: 6%;
  left: auto;
}

.bottom-dialog-content .options {
  /* overflow: scroll; */
  padding-top: 41px;
}

.bottom-dialog::-webkit-scrollbar {
  width: 7px;
  height: 7px;

  background-color: var(--lighter);
}

.bottom-dialog::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: var(--thd);
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
          box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
}

.bottom-dialog::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: var(--light);
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .1);
          box-shadow: inset 0 0 6px rgba(0, 0, 0, .1);
}


