.header {
  font-size: 18px;
  line-height: 44px;

  position: relative;

  min-width: 240px;
  height: 44px;
  padding: 0 15px;

  text-align: center;

  color: var(--light);
  background: var(--sed);
}

.header-back {
  position: absolute;
  top: 12px;
  left: 12px;

  width: 42px;
  height: 42px;

  color: var(--light);
}

.header-title {
  font-size: 100%;

  display: inline-block;
  overflow: hidden;

  max-width: 216px;
  margin: 0;

  white-space: nowrap;
  text-overflow: ellipsis;
}
