.account {
  position: fixed;
  z-index: 10;
  bottom: 0;

  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 100%;
  max-width: 525px;
  height: 50px;
  height: 60px;

  background: var(--light);
}

.account .price {
  position: relative;

  margin-left: 10px;

  color: var(--sed);
}

.account .price::after {
  position: absolute;
  top: 30%;
  right: -15px;

  width: 11px;
  height: 6px;
  margin-top: 3px;

  content: '';

  color: var(--sed);
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABYAAAAMCAYAAABm+U3GAAAAcUlEQVR42q3OwQmAMAxGYUfpCI7UTXrtFh3NERwhEtCkEsiD6uEdwg8f2UTE6r1nVS3ZXxbDjspd/QtuhnrtKzwm7NSme6zBEd21iDMMqG0BJxhRwBMYUMIDTOgKjugqrkOxAVDE3Sj68TMcgEJuqHkBb2Y4LzT5lxUAAAAASUVORK5CYII=)
  no-repeat;
  background-size: 100%;
}

.account .price.expanded::after {
  transform: rotateZ(180deg);
  /*background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABYAAAAMCAYAAABm+U3GAAAAbUlEQVR42p3OwQnAQAhEUUvZErZMu9jSUkJKMA4kCBEZmMNHmMNDiwhz951d7zWtMmBiWNmdBa6I75+xvo8PRopzFB2YgEdcRQsW8Amd4AHnKHYCDzhBGUzwCeUwwTsqwB1vqA4XTlAFLrxQDj+3MTlro/oAUgAAAABJRU5ErkJggg==) no-repeat;*/
}

.account .money {
  font-family: PingFangSC-Semibold;
  font-size: 24px;
  font-weight: normal;
  line-height: 28px;

  min-width: 48px;
  margin-top: 0;
  padding-left: 0;

  text-align: center;

  color: var(--sed);
}

.account .money::before {
  font-family: PingFangSC-Regular;
  font-size: 12px;
  font-size: 15px;
  line-height: 15px;

  content: '$';
  text-align: right;

  color: var(--sed);
}

/* .account .amount {
  font-family: PingFangSC-Regular;
  font-size: 10px;

  text-align: center;

  color: var(--primary);
} */

.account .button {
  font-size: 18px;
  line-height: 44px;

  height: 44px;
  margin-right: 10px;
  padding: 0 34px;

  text-align: center;

  color: var(--sed);
  border: 1px solid var(--thd);
  border-radius: 4px;
  background: var(--lighter);
}

.account .layer {
  position: fixed;
  z-index: 5;
  top: 0;
  right: 0;
  bottom: 60px;
  left: 0;

  background: rgba(3, 3, 3, .7);
}

.account .detail {
  position: fixed;
  z-index: 7;
  right: 0;
  bottom: 60px;
  left: 0;

  padding: 15px 15px 0 15px;

  border: 0;
  background: var(--lighter);
}

.account .detail .title {
  font-size: 16px;
  font-weight: bold;
  line-height: 16px;
}

.account .detail ul {
  margin: 0;
  padding: 15px 15px 15px 0;

  list-style: none;

  border-bottom: 1px solid var(--fourth);
}

.account .detail li {
  font-size: 14px;

  display: flex;

  margin: 0;
  padding: 0;

  list-style: none;

  border: 1px solid var(--fourth);
  background-color: var(--light);
}

.account .detail li span {
  display: block;
}

.account .detail li span:nth-child(n) {
  width: 50px;

  text-align: right;
}

.account .detail li span:nth-child(3n + 1) {
  flex: 1;

  text-align: left;
}
.account .detail li span:nth-child(3n + 2) {
  width: 50px;

  text-align: right;
}
