.menu {
  position: fixed;
  z-index: 1000;
  right: 0;
  bottom: 0;
  left: 0;

  transition: all .5s;
  transform: translateY(100%);
}

.menu.show {
  transform: translateY(0);
}

.menu-mask {
  position: fixed;
  z-index: 999;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  opacity: .5;
  background: #000;
}

.menu-title {
  position: relative;

  height: 40px;

  border-radius: 10px 10px 0 0;
  background: var(--lighter);
}

.menu ul {
  margin: 0;
  padding: 0;

  list-style: none;
}

.menu ul li {
  font-size: 16px;
  line-height: 48px;

  height: 48px;

  list-style: none;

  text-align: center;

  color: #666;
  border-top: 1px solid var(--fourth);
  background: var(--light);
}

.menu ul li.active {
  color: var(--primary);
}
