.high-speed {
  line-height: 46px;

  position: relative;

  display: flex;

  height: 46px;
}

.high-speed-label {
  font-size: 15px;

  flex: 1;

  text-align: left;

  color: var(--primary);
}

.high-speed-switch {
  position: relative;

  flex: 1;

  text-align: right;
}

.high-speed-track {
  position: relative;

  display: inline-block;

  box-sizing: border-box;
  width: 50px;
  height: 30px;
  padding: 1px;

  vertical-align: middle;

  border-radius: 16px;
  background-color: var(--light);
}

.high-speed-track.checked {
  background-color: var(--thd);
}

.high-speed-handle {
  position: absolute;
  z-index: 1000;
  top: 1px;
  left: 1px;

  box-sizing: border-box;
  width: 28px;
  height: 28px;

  transition: transform .1s ease-out;

  border-radius: 50%;
  background-color: var(--lighter);
  box-shadow: 0 1px 3px rgba(0, 0, 0, .3);
}

.high-speed-handle.checked {
  transform: translateX(20px);
}

.high-speed-track::after {
  position: absolute;
  left: 15px;

  width: 34px;
  height: 28px;

  content: ' ';
  transition: transform .13s ease-out;

  border-radius: 0 15px 15px 0;
  background-color: #fafafa;
}

.high-speed-track.checked::after {
  transform: scale(0);
}
