li .channel {
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 8px 15px;

  color: var(--primary);
  border-top: 1px solid var(--fourth);
}

li .channel .middle {
  flex: 1;

  margin-left: 23px;
}

li .channel .name {
  font-size: 14px;
  line-height: 20px;
}

li .channel .desc {
  font-size: 12px;
  line-height: 16px;

  margin-top: 2px;

  color: var(--sed);
}

li .channel .buy-wrapper {
  line-height: 28px;

  display: block;

  box-sizing: border-box;
  height: 28px;
  margin-top: 5px;
  padding: 0 11px;

  text-decoration: none;

  border: 1px solid var(--thd);
  border-radius: 4px;
  background: var(--light);
}

li .channel .buy {
  font-size: 14px;
  line-height: 28px;

  text-align: center;

  color: var(--thd);
}
